/* colors */
:root {
  color-scheme: light dark;

  --root: lightpink;
  --bg: light-dark(white, #001);

  --primary: color-mix(in srgb, var(--root), var(--bg) 50%);
  --secondary: color-mix(in srgb, var(--root), var(--bg) 90%);

  font-size: 18px;
  accent-color: var(--primary);
}

::selection {
  background-color: color-mix(in srgb, var(--primary), transparent);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 200ms;
}

/* defaults */
html,
input,
button {
  font-family: system-ui;
  font-size: inherit;
}

body {
  margin: 0 auto 2em;
  max-width: 580px;
  background-color: var(--secondary);

  > div {
    padding-inline: 1em;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4em;

  background-color: var(--secondary);
  cursor: pointer;
  border: none;
  border-radius: 0.25em;
  font-weight: 500;
  color: gray;

  &:hover,
  &:active,
  &:focus-visible {
    color: inherit;
  }

  main & {
    margin: auto;
  }
}

ul,
p {
  margin: 0;
  padding: 0;
}

/* components */
h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  color: var(--primary);
}

header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--secondary);
  box-shadow: 0 0.5em 0.25em var(--secondary);
}

footer {
  text-align: center;
  font-size: small;

  :first-child {
    float: left;
  }
  :last-child {
    float: right;
  }
}

header,
main,
footer {
  margin-bottom: 1em;
  border-bottom: solid 2px var(--primary);
}

form,
li,
footer {
  background-color: var(--bg);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;

  a {
    padding: 0.125em 0.35em;

    text-decoration: underline dotted transparent 3px;
    text-underline-offset: 0.25em;
    text-decoration-skip-ink: none;

    &:hover,
    &:active,
    &:focus-visible,
    &[aria-current="page"] {
      text-decoration-color: var(--primary);
    }

    &[aria-current="page"] {
      text-decoration-style: solid;
    }
  }

  @media (width < 500) {
    flex-direction: column;
  }
}

form,
li,
footer {
  padding: 0.75em;
}

form,
ul,
li,
footer {
  border-radius: 0.25em;
  gap: 0.25em;
}

form {
  /* padding: 0.5em; */
  display: flex;
  gap: 0.25em;

  [type="text"] {
    width: 100%;
    height: 2em;
  }
}

ul {
  display: grid;
}

li {
  display: flex;
  gap: 0.5em;

  button {
    opacity: 0;
  }
  :is(&:hover, &:focus-within) button {
    opacity: 1;
  }

  p, input[type="text"] {
    flex-grow: 1;
  }

  p {
    + input[type="text"] {
      display: none;
    }
    
    &[hidden] {
      display: none;
      + input[type="text"] {
        display: initial;
      }
    }
  }

}
