/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* defaults */
html,
input {
  font-family: system-ui;
}

body {
  margin: 0 auto;
  max-width: 550px;
}

header,
footer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

header {
  position: sticky;
  top: 0;
}

/* components */
.todo {
  display: flex;

  p {
    flex-grow: 1;
  }
}
