/* colors */
:root {
  --primary: lightpink;
  --secondary: color-mix(in srgb, var(--primary), white 50%);
  --ternary: color-mix(in srgb, var(--primary), white 90%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* defaults */
html,
input,
button {
  font-family: system-ui;
  font-size: inherit;
}

body {
  margin: 0 auto;
  max-width: 560px;
  background-color: var(--ternary);

  > div {padding-inline: 1em;}
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul, p {
  margin: 0;
  padding: 0;
}

/* components */
h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 400;
  color: var(--secondary);
}

header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--ternary);
  box-shadow: 0 .5em .25em var(--ternary);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header,
main,
footer {
  margin-bottom: 1em;
  border-bottom: solid 2px var(--secondary);
}

form,
li,
footer {
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.25em;

  a {
    padding: 0.125em 0.35em;

    text-decoration: underline dotted transparent 3px;
    text-underline-offset: 0.25em;
    text-decoration-skip-ink: none;

    &:hover,
    &:active,
    &:focus-visible {
      text-decoration-color: var(--secondary);
    }
  }

  [aria-current="page"] {
    text-decoration-style: solid;
    text-decoration-color: var(--primary);
  }
}

form, li, footer {
  padding: 0.75em;
}

form, ul, li, footer {
  border-radius: 0.25em;
  gap: 0.25em;
}

form {
  /* padding: 0.5em; */
  display: flex;
  gap: 0.25em;

  [type="text"] {
    width: 100%;
    height: 2em;
  }
}

ul {
  display: grid;
}

li {
  display: flex;

  p {
    flex-grow: 1;
  }
}
