/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* defaults */
html,
input,
button {
  font-family: system-ui;
  font-size: inherit;
}

body {
  margin: 0 auto;
  max-width: 550px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* components */
header {
  position: sticky;
  top: 0;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  align-items: center;
  gap: 0.25em;

  a {
    padding: 0.125em 0.35em;
    border: solid 2px transparent;
    border-radius: 0.5em;
  }

  [aria-current="page"] {
    border-color: darkred;
    pointer-events: none;
  }
}

.todo {
  display: flex;

  p {
    flex-grow: 1;
  }
}
